# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

/src/generated/
/src/test/
/.gitattributes
/src/main/resources/assets/evolution/textures/block/0Texture Factory/
/src/main/resources/assets/evolution/textures/item/vanilla/
/src/main/resources/assets/evolution/textures/item/Nova pasta/
/javac/production/Evolution-Fabric.main/
/net/
